<h2>Movies</h2>
<p id="validationError"></p>
<hr>
<a class="btn btn-success" href="/newMovie">Add</a>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Movie Title</th>
			<th>Rating</th>
			<th>Stars</th>
		</tr>
	</thead>
	<tbody>
		<% @movies.each do |movie| %>
		<tr>
			<td>
				<a href="/editMovie?id=<%= movie.id %>"><i class="glyphicon glyphicon-edit"></i></a> |
				<a href="/deleteMovie?id=<%= movie.id %>" class="removeButton"><i class="glyphicon glyphicon-remove"></i></a>
			</td>
			<td><%= movie.id %></td>
			<td><%= movie.movieTitle %></td>
			<td><%= movie.rating %></td>
			<td>
				<% (1..5).each do |i| %>
					<img src="<%= i <= movie.stars.to_i ? '../star.gif' : '../no-star.png' %>">
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>